name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Обновили до v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4 # Обновили до v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get
      
      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4 # ВОТ ТУТ БЫЛА ОШИБКА. Теперь v4
        with:
          name: calorie-app-release
          path: build/app/outputs/flutter-apk/app-release.apk
