name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create native Android files
        run: flutter create . --platforms android

      # ДОБАВИЛИ ЭТО: Даем права на выполнение Gradle
      - name: Make gradlew executable
        run: chmod +x android/gradlew

      - name: Install dependencies
        run: flutter pub get
      
      - name: Build APK
        # Добавили флаг --no-pub, так как мы уже сделали pub get
        run: flutter build apk --release --no-pub
